@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: "Roberto",sans-serif;
}

/* .container{
    background-image: url("https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    display:flex;
} */
a{
    color:white;
    text-decoration: none;
}
.container{
width:1000px;
margin: 0 auto;
padding:2rem 1rem;
max-width:100%;

}
nav{
    padding:0.5rem 0;
}
.pre-nav{
    display:flex;
    justify-content: space-between;
    font-size:none;
    font-size: 1.7rem;
}
.logo{
    color:#026e78;
    font-weight:bold;
    font-size:2.5rem;
}
nav ul{
    list-style-type:none;
    padding:0;
    display:flex;
    flex-wrap: wrap;
}
nav li a{
    background-color: #2D99A4;
    padding: 1rem 2rem;
    display:block;
    text-align: center;
}
nav li{
    flex:1 auto;
}
nav a.active{
    background-color: #fff;
    color:#026e78;
    font-weight: bold;

}
nav a.highlight{
    background-color: #026e78;
    color:#fff;
}
nav a:hover{
    opacity:0.9;
}
.content{
    margin-top:3rem;
    display:flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items:flex-start;
    margin-top:5rem;
}
.content h1{
    background-color: #026e78;
    color:white;
    display: inline-block;
    padding:1rem;
    font-weight: 200;
}
.white-link{
    background-color:#fff;
    color:#2D99A4;
    padding:1rem;
}

.teal-link{
    background-color:#2D99A4;
    color:#fff;
    padding:1rem;
    margin-top: 2rem;
}

@media screen and (max-width:768px){
.pre-nav{
    flex-direction:column;
    justify-content: center;
}

.content{
    font-size:1.5rem;
}
}