body {
    font-family: Arial;
    margin: 0;
 }

header {
    background-color: cornsilk;
    margin: 2px;
}

header > img {
    margin: 10px 0px 0px 10px;
    width: 85px;
}

header > nav {
    width:80%;
    float: right;
}

header h3 {   
    font-size: 18px;
    margin: 25px;
    list-style: none;
    float: right;
}

h3 > a {
    font-weight: bold;
    color: black;
}

.topcontainer {
    width: 100%;
}

.topcontainer > p {
   font-weight: bold;
   text-align: center;
   font-size: 20px;
}

.left {
   background-color: lightgray;
   display: inline-block;
   width: calc(30% - 1px);
}

.left button {
   height: 38px;
   margin: 1px;
   list-style: none;
   text-align: center;
   background-color: lightslategrey;
   width: 85%;
}

.left li a {
   text-align: center;
   text-decoration: none;
   color: #FFFFFF;
   display: block;
}

.right {
   background-color: lightgray;
   vertical-align: top;
   display: inline-block;
   width: calc(70% - 14px);
}

.right > p {
   text-align:center;
}

.right li {
   width: 80%;
   list-style: none;
}

.right img {
  margin: 8px;
  width: 130px;
}

.bottomcontainer {
  padding: 4px;
}

.bleft {
  background-color: linen;
  display:inline-block;
  width: calc(30% - 4px);
  text-align: center;
  padding-top: 20px;
}

.bleft > .box {
  margin: 2px;
  height: 40px;
  display: inline-block;
  border: 1px solid;
  min-width: 80px;
  width: 25%;
}

.bright {
  background-color: linen;
  vertical-align: top;
  display:inline-block;
  width: calc(70% - 7px);
}

th, td {
  border: 1px solid black;
}

table {
  text-align: center;
  padding-top: 30px;
  width: 100%
}

footer {
    background-color: cornsilk;
    margin: 2px;
}

footer > p {
font-size : 18px;
padding: 2px;
text-align: center;
}

footer > pre {
font-size : 18px;
font-weight: bold;
text-align: center;
}