body {
    font-size: 10px;
    font-family: Roboto,Arial,helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #026e78;
    
}
/* body{
  margin:0;
  font-family: "Roberto",sans-serif;
} */

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background:#026e78;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    top:-50px;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }

.container {
  max-width:1100px;
  margin: 0 auto;

}

.form-fields-section {
    max-width: 1000px;
    margin: 0 auto;
}

.form-fields-section h3 {
    color: #026e78;
    font-weight: 500;
    margin-bottom: 15px;
}

@media (min-width: 640px) {
h1 {
    font-size: 3.6em;
    line-height: 1.11111;
      font-weight: 300;
    color: #333;
  }
}

@media (min-width: 640px) {
h3 {
    font-size: 2.4em;
    line-height: 1.25;
}
}

#registration-form, .register-details {
    float: left;
    clear: none;
    width: 50%;
    margin-left: 0;
    margin-right: 0;
}

#registration-form {
    padding: 0 30px 0 0;
}

.register-details {
    padding: 25px 0 0 50px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
/* @media (min-width:375px) {
    fieldset {
        font-size: 2.4em;
        line-height: 1.25;
    }
    } */
#registration-form ul {
    margin: 0;
    list-style-type: none;
    padding: 0 0 15px;
}

#registration-form li {
    margin: 0 0 20px;
}


.field {
    position: relative;
    font-size: 10px;
    -webkit-transition: height .15s ease-out;
    transition: height .15s ease-out;
    width: 430px;
    padding-left: 0px;
}

.field__message, .field label {
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.field__message {
    display: none;
    color: #d0011b;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    padding: 5px 20px 5px 0;
    font-size: 1.2em;
    line-height: 1.1em;
    -webkit-animation: field__message .15s 1;
    animation: field__message .15s 1;
}
/* .container {
  position: relative;
  top:-150px;
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
} */
.field--error .field_message {
  display: block;
}

.field label {
    display: block;
    text-transform: none;
    position: absolute;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    font-size: 1.6em;
    line-height: 1.8em;
    color: #999;
    padding: 10px;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    text-align: center;
  
}

.field__input, .field__wrapper {
    width: 100%;
}

.field__wrapper {
    position: relative;
    padding: 1px;
}

.field .field__input {
    padding: 20px 10px 6px 9px;
}

label.field--focus {
  height: auto;
  line-height: 1em;
  font-size: 1.1em;
  padding: 7px 20px 20px 10px;
}

input[type=text], input[type=text], input[type=tel], input[type=text] {
    font-size: 1.6em;
    font-weight: 400;
    text-align: left;
    line-height: 1.11em;
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    outline: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color .2s ease-out,padding .2s ease-out,-webkit-box-shadow .2s ease-out;
    transition: border-color .2s ease-out,padding .2s ease-out,-webkit-box-shadow .2s ease-out;
    transition: border-color .2s ease-out,box-shadow .2s ease-out,padding .2s ease-out;
    transition: border-color .2s ease-out,box-shadow .2s ease-out,padding .2s ease-out,-webkit-box-shadow .2s ease-out;
    padding: 0 10px;
    -webkit-appearance: none;
}

.field--error input, .field--error input[type=email]:focus, .field--error input[type=password]:focus, .field--error input[type=tel]:focus, .field--error input[type=text]:focus {
    border-color: #d0011b;
    -webkit-box-shadow: 0 0 0 1px #d0011b;
    box-shadow: 0 0 0 1px #d0011b;
}

.field--error .field__wrapper:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #026e78;
    background-size: 20px;
    -webkit-animation: field--error .35s 1;
    animation: field--error .35s 1;
}

.btn {
  position: relative;
    display: inline-block;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    cursor: pointer;
    background: none;
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: 13px 35px 15px;
    margin-right: 15px;
    outline: none;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all,.4s,ease-out;
    transition: all,.4s,ease-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-primary {
background-color: rgb(25, 25, 26);
    /* background: -webkit-gradient(linear,left top,left bottom,from(#ef6c00),color-stop(45%,#ef6c00),to(#d76101)); */
    background: #026e78;
  color:black;
  font-weight: 500;
    border: 1px solid rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 0 0 #555;
    box-shadow: 0 1px 0 0 #555;
  width: 100%;
}
  
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  text-decoration: none;
    /* background: -webkit-gradient(linear,left top,left bottom,from(slateblue),to(slateblue)); */
    /* background: linear-gradient(180deg,slateblue,slateblue); */
      -webkit-box-shadow: inset 0 1px 0 0 #4d4d4d;
    box-shadow: inset 0 1px 0 0 yellowgreen;
    
}


input.invalid, textarea.invalid{
	border: 2px solid red;
}

input.valid, textarea.valid{
	border: 2px solid green;
}


.mine {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border: 1px solid black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #026e78;
  }
  
  .active {
    background-color: #026e78;
  }
  



  header{
    background-image: url("https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    display:flex;
}
a{
    color:white;
    text-decoration: none;
}
.container{
width:1000px;
margin: 0 auto;
padding:2rem 1rem;
max-width:100%;

}
nav{
    padding:0.5rem 0;
}
.pre-nav{
    display:flex;
    justify-content: space-between;
    font-size:none;
    font-size: 1.7rem;
}
.logo{
    color:#026e78;
    font-weight:bold;
    font-size:2.5rem;
}
nav ul{
    list-style-type:none;
    padding:0;
    display:flex;
    flex-wrap: wrap;
}
nav li a{
    background-color: #2D99A4;
    padding: 1rem 2rem;
    display:block;
    text-align: center;
}
nav li{
    flex:1 auto;
}
nav a.active{
    background-color: #fff;
    color:#026e78;
    font-weight: bold;

}
nav a.highlight{
    background-color: #026e78;
    color:#fff;
}
nav a:hover{
    opacity:0.9;
}
.content{
    margin-top:3rem;
    display:flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items:flex-start;
    margin-top:5rem;
}
.content h1{
    background-color: #026e78;
    color:white;
    display: inline-block;
    padding:1rem;
    font-weight: 200;
}
.white-link{
    background-color:#fff;
    color:#2D99A4;
    padding:1rem;
}

.teal-link{
    background-color:#2D99A4;
    color:#fff;
    padding:1rem;
    margin-top: 2rem;
}

@media screen and (max-width:768px){
.pre-nav{
    flex-direction:column;
    justify-content: center;
}

.content{
    font-size:1.5rem;
}
}